body {
  font-family: "Proxima Nova", sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}
nav.bodyone{
  background-image: url(../images/bg2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  height: 700px;
  z-index: 0;
  position: relative;
}
#overlay{
  background-color: rgba(15, 6, 48, 0.278);
  height: 700px;
  z-index: 1;
}
.info-placeholder {
  background-color: rgba(51, 51, 51, 0);
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.info-placeholder h1 {
  margin: 0;
  font-size: 3.5rem;
}
.info-placeholder nav {
  display: flex;
}
.info-placeholder nav a {
  color: #FFF;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.2rem;
  text-shadow: 0 1px 1px rgb(0, 0, 0);
}
.intro {
  text-align: center;
  padding: 4rem 2rem;
  color: white;
}
.intro h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}
#container{
  background-color: #190734;
  height: 400px;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content-horizon{
  text-align: left;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
#horizon{
  display: flex;
  width: 85%;
  color: black;
  margin: 20px auto;
}
#horizon img{
  width: 750px;
}
#horizon div{
  text-align: left;
}
.intro p{
  font-size: 26px;
  font-weight: bold;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0;
}
.project {
  width: calc(33.33% - 2rem);
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  margin: 1rem;
  border-radius: 6px;
}
.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
.project h3 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.project:hover{
  background-color: lightblue;
  transform: scale(1.1);
}
a{
  color: inherit;
  text-decoration: none;
}
